.titleMain {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

/* menu options from app.jsx */
.menu a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.menu a:hover {
  color:dimgray
}

/* title on movie generator page */
.titleMovieGenerator {
  font-size: 75px;
}

/* various */
.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 3 questions on movie generartor page */
.question {
  font-size: 18px;
  margin-bottom: 10px;
}

/* 3 dropdown boxes on movie generator page */
.form-select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  font-size: 16px;
  outline: none;
}

/* button on movie generator page */
.btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* error message on movie generator page, when no movie found */
.errorMessage {
  color: red;
}

/* movie resuts on movie generator page - text and image */
.results {

}

/* using to test connection */
.movieList {
  background-color:aquamarine
}



/* unknown items */
.menuItem {
  color: #fff;
  text-decoration: none;
  margin: 10px;
}
